{% extends 'base.html.twig' %}
{% block content %}
    <div class="banner-bottom-w3layouts py-lg-5 py-3">
        <div class="container">
            <h2>la plante "{{ nom }}" est introuvable</h2>
        </div>
    </div>
{% endblock %}