<style>
    .view-p {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
</style>
<div class="banner-bottom-w3layouts py-lg-5 py-3">
    <div class="container view-p">
        <h3>Plante:</h3><h3>{{ plantt.plante.nom }}</h3>
        <h3>Type:</h3><h3>{{  plantt.typeP }}</h3>
        <h3>Quantité:</h3><h3>{{ plantt.quantite }}</h3>
        <div>

        </div>

    </div>
    <div class="clearfix"> </div>

</div>