{% extends 'base.html.twig' %}
{% block content %}
    <div class="banner-bottom-w3layouts py-lg-5 py-3">
        <div class="container">
            <h3> Donnez un nom a votre Jardin et commencer le Journal </h3>
            <br>
            {{ form_start(Form) }}

            {{ form_row(Form.nom,{'attr': {'class': 'form-control'}}) }}
            <br>
            <div>
                {{ form_row(Form.creer,{'attr': {'class': 'btn btn-primary'}}) }}
            </div>
            {{ form_end(Form) }}
        </div>
        <div class="clearfix"> </div>

    </div>
{% endblock %}
