{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="sign">
            <h1>Modifier L'Espace De Préservation </h1>
            <br>

            {{ form_start(Form) }}
            {{ form_widget(Form) }}
            <input type="submit" value="Modifier" />
            {{ form_end(Form) }}



        </div>
    </div>
{% endblock %}
